@import '../../styles/abstracts/variables';

.todo-list {
  background-color: $primary;
  border: 5px solid $red;
  padding: 10px;
  margin: 20px;
  margin-top: 0;

  &__name {
    color: $red;
  }

  &__items {
    box-shadow: 0 0 10px $white;
    padding: 10px;
    list-style-position: inside;
  }
}