@import '../../../styles/abstracts/variables';

.todo-search-wrapper {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.search-component {
  margin: 20px 20px 0;
  border: 3px solid $red;

  &__input {
    background-color: $white;
    color: $red;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
}